<p id="notice"><%= notice %></p>

<h1>Listing Buses</h1>

<%= form_tag buses_path, :method => "get" do%>
<%=text_field_tag :search, params[:search] %>
<%= submit_tag "Search city" %>

<% end %>

<%=link_to "Advanced search", new_search_path %>


<table>
  <thead>
    <tr>
      <th width = 100>City1</th>
      <th width = 100>Date1</th>
      <th width = 100>Time1</th>
     <th width = 100>City2</th>
      <th width = 100>Date2</th>
      <th width = 100>Time2</th>
      <th width = 100>Seats</th>
      <th colspan="3" ></th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.city1 %></td>
        <td><%= bus.date1 %></td>
        <td><%= bus.time1.strftime('%H:%M:%S') %></td>
        <td><%= bus.city2 %></td>
        <td><%= bus.date2 %></td>
        <td><%= bus.time2.strftime('%H:%M:%S') %></td>
        <td><%= bus.seats %></td>
        <td><%= link_to 'Show', bus %></td>
        
        <% if can? :update, Bus %>
        <td><%= link_to 'Edit', edit_bus_path(bus) %></td>
        <%end%>
        <% if can? :update, Bus %>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Bus %>
<%= link_to 'New Bus', new_bus_path %>
<%end%>
