<p id="notice"><%= notice %></p>

<p>
  <strong>City1:</strong>
  <%= @bus.city1 %>
</p>

<p>
  <strong>Date1:</strong>
  <%= @bus.date1 %>
</p>

<p>
  <strong>Time1:</strong>
  <%= @bus.time1.strftime('%H:%M:%S') %>
</p>

<p>
  <strong>City2:</strong>
  <%= @bus.city2 %>
</p>

<p>
  <strong>Date2:</strong>
  <%= @bus.date2 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @bus.time2.strftime('%H:%M:%S') %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @bus.seats %>

</p>
<td><%= link_to 'Buy', new_bus_ticket_path(@bus) %> </td>
<% if can? :update, Bus %>
<%= link_to 'Edit', edit_bus_path(@bus) %>  <%end%> |
<%= link_to 'Back', buses_path %>
